:root {
    /* Dark Mode Colors */
    --dark-bg-color: #000000;
    --dark-text-color: #ffffff;
    --dark-accent-bg: #312f2f;
    --dark-accent-border: #4b4242;
    --dark-hover-bg: #4b4242;
    --dark-secondary-hover-bg: #7e5c5c;

    /* Lime Mode Colors */
    --lime-bg-color: #0ca00c;
    --lime-text-color: #ffffff;
    --lime-accent-bg: #68a568;
    --lime-accent-border: #bff7bf;
    --lime-hover-bg: #a6f5a6;
    --lime-secondary-hover-bg: #bff7bf;

    /* Green Mode Colors */
    --green-bg-color: #044d04;
    --green-text-color: #ffffff;
    --green-accent-bg: #508a50;
    --green-accent-border: #71af71;
    --green-hover-bg: #9ce49c;
    --green-secondary-hover-bg: #71af71;
}



/* Dark Mode Styles */
.dark-mode {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.dark-mode .bg-teal-700,
.dark-mode .hover\:bg-teal-600:hover,
.dark-mode .checked\:bg-teal-700:checked {
    background-color: var(--dark-accent-border);
}

.dark-mode .border-teal-700 {
    border-color: var(--dark-accent-border);
}


.dark-mode .hover\:bg-teal-300:hover {
    background-color: var(--dark-secondary-hover-bg);
}

.dark-mode .text-cyan-800 {
    color: var(--dark-accent-border);
}

.dark-mode h2,
.dark-mode .bg-teal-600,
.dark-mode .bg-teal-800,
.dark-mode .text-teal-800,
.dark-mode .text-gray-400,
.dark-mode .text-gray-500,
.dark-mode .text-red-300,
.dark-mode .text-amber-500,
.dark-mode .text-cyan-950,
.dark-mode .text-cyan-800 {
    color: var(--dark-text-color);
}

.dark-mode .bg-teal-900,
.dark-mode .bg-teal-600,
.dark-mode .sm\:bg-teal-900 {
    color: #ffffff;
    background-color: var(--dark-accent-bg);
}

/* Lime Mode Styles */
.lime-mode {
    background-color: var(--lime-bg-color);
    color: var(--lime-text-color);
}

.lime-mode .bg-teal-700 {
    background-color: var(--lime-accent-border);
}

.lime-mode .border-teal-700 {
    border-color: var(--lime-accent-border);
}

.lime-mode .hover\:bg-teal-600:hover,
.lime-mode .checked\:bg-teal-700:checked,
.lime-mode .hover\:bg-teal-300:hover {
    background-color: var(--lime-hover-bg);
}

.lime-mode .text-cyan-800 {
    color: var(--lime-hover-bg);
}

.lime-mode h2,
.lime-mode .bg-teal-800,
.lime-mode .text-teal-800,
.lime-mode .text-gray-400,
.lime-mode .text-gray-500,
.lime-mode .text-red-300,
.lime-mode .text-amber-500,
.lime-mode .text-cyan-950,
.lime-mode .text-cyan-800 {
    color: var(--lime-text-color);
}

.lime-mode .bg-teal-900,
.lime-mode .bg-teal-600,
.lime-mode .sm\:bg-teal-900 {
    color: var(--lime-text-color);
    background-color: var(--lime-accent-bg);
}

/* Green Mode Styles */
.green-mode {
    background-color: var(--green-bg-color);
    color: var(--green-text-color);
}

.green-mode .bg-teal-700,
.green-mode .hover\:bg-teal-300:hover {
    background-color: var(--green-accent-border);
}

.green-mode .border-teal-700 {
    border-color: var(--green-accent-border);
}

.green-mode .hover\:bg-teal-600:hover,
.green-mode .checked\:bg-teal-700:checked {
    background-color: var(--green-hover-bg);
}

.green-mode .text-cyan-800 {
    color: var(--green-accent-border);
}

.green-mode h2,
.green-mode .bg-teal-800,
.green-mode .text-teal-800,
.green-mode .text-gray-400,
.green-mode .text-gray-500,
.green-mode .text-red-300,
.green-mode .text-amber-500,
.green-mode .text-cyan-950,
.green-mode .text-cyan-800 {
    color: var(--green-text-color);
}

.green-mode .bg-teal-600,
.green-mode .bg-teal-900,
.green-mode .sm\:bg-teal-900 {
    color: var(--green-text-color);
    background-color: var(--green-accent-bg);
}