@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Inconsolata&family=Quicksand&family=Roboto+Slab:wght@200;300;400;500;900&family=Tsukimi+Rounded&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2 {
  text-shadow: 2px 2px 2px #ff0000;
  font-family: "Roboto Slab", serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Scroll Bar  */
/* :root {
  --scrollbarBG: #10e76a;
  --thumbBG: #380cd8;
}

body::-webkit-scrollbar {
  width: 12px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
} */

/* Font-Familys */
.main-font {
  font-family: "Roboto Slab", serif;
}


.sub-main-font {
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Tsukimi Rounded", sans-serif;
}